mysql_flow.json
[{"id":"e1c2a9b7.9f3a98","type":"tab","label":"token-pages-json","disabled":false,"info":""},{"id":"http_in_post","type":"http in","z":"e1c2a9b7.9f3a98","name":"POST /data (save)","url":"/data","method":"post","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":150,"y":100,"wires":[["parse_payload"]]},{"id":"http_in_get","type":"http in","z":"e1c2a9b7.9f3a98","name":"GET /data (read)","url":"/data","method":"get","upload":false,"skipBodyParsing":false,"swaggerDoc":"","x":150,"y":260,"wires":[["read_token"]]},{"id":"parse_payload","type":"function","z":"e1c2a9b7.9f3a98","name":"Validate & prepare INSERT","func":"// expects JSON body { token: \"005\", data: { pages: [...] } }\nvar body = msg.payload || {};\nvar token = body.token || (msg.req && msg.req.query && msg.req.query.token);\nvar pages = (body.data && body.data.pages) ? body.data.pages : null;\n\nif (!token || !Array.isArray(pages)) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', message: 'expected JSON {token:..., data:{pages:[...]}}' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [null, msg]; // second output -> HTTP response\n}\n\n// store pages as JSON string; use parameterized query\nmsg.topic = \"INSERT INTO token_pages (token, pages) VALUES (?, ?) ON DUPLICATE KEY UPDATE pages = VALUES(pages), ts = CURRENT_TIMESTAMP;\";\nmsg.payload = [ token, JSON.stringify(pages) ];\nmsg.token = token; // keep for response\nreturn [msg, null];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[["mysql_save"],[]]},{"id":"mysql_save","type":"mysql","z":"e1c2a9b7.9f3a98","mydb":"db_conf","name":"MariaDB (nodered_db)","x":640,"y":80,"wires":[["save_result"]]},{"id":"save_result","type":"function","z":"e1c2a9b7.9f3a98","name":"Prepare HTTP response","func":"// mysql node returns result object in msg.payload\nvar res = msg.payload || {};\nmsg.payload = { status: 'ok', token: msg.token, db: res };\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":220,"wires":[["http_response"]]},{"id":"http_response","type":"http response","z":"e1c2a9b7.9f3a98","name":"HTTP Response","statusCode":"","headers":{},"x":1000,"y":80,"wires":[]},{"id":"read_token","type":"function","z":"e1c2a9b7.9f3a98","name":"Prepare SELECT","func":"// GET /data?token=005\nvar token = (msg.req && msg.req.query && msg.req.query.token) ? msg.req.query.token : null;\nif (!token) {\n    msg.statusCode = 400;\n    msg.payload = { status: 'error', message: 'missing token query parameter' };\n    msg.headers = { 'Content-Type': 'application/json' };\n    return [null, msg];\n}\nmsg.topic = 'SELECT token, pages, ts FROM token_pages WHERE token = ? LIMIT 1;';\nmsg.payload = [ token ];\nreturn [msg, null];","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":480,"wires":[["mysql_read"],[]]},{"id":"mysql_read","type":"mysql","z":"e1c2a9b7.9f3a98","mydb":"db_conf","name":"MariaDB (nodered_db)","x":560,"y":300,"wires":[["read_result"]]},{"id":"read_result","type":"function","z":"e1c2a9b7.9f3a98","name":"Format SELECT result","func":"var r = msg.payload || [];\nif (!Array.isArray(r) || r.length === 0) {\n  msg.statusCode = 404;\n  msg.payload = { status: 'not_found' };\n  msg.headers = { 'Content-Type': 'application/json' };\n  return msg;\n}\n// r[0] contains fields: token, pages (JSON string/object) , ts\nvar row = r[0];\ntry { row.pages = (typeof row.pages === 'string') ? JSON.parse(row.pages) : row.pages; } catch(e) {}\nmsg.payload = { status: 'ok', token: row.token, data: { pages: row.pages }, ts: row.ts };\nmsg.headers = { 'Content-Type': 'application/json' };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":420,"wires":[["http_response_get"]]},{"id":"http_response_get","type":"http response","z":"e1c2a9b7.9f3a98","name":"HTTP Response (get)","statusCode":"","headers":{},"x":1020,"y":320,"wires":[]},{"id":"db_conf","type":"MySQLdatabase","z":"e1c2a9b7.9f3a98","name":"Local MariaDB","host":"127.0.0.1","port":"3306","db":"nodered_db","tz":"","charset":"UTF8_GENERAL_CI"},{"id":"d1a3fc0d3f72e1e3","type":"global-config","env":[],"modules":{"node-red-node-mysql":"2.0.0"}}]
